@reference "tailwindcss";

:root {
  --widget-width: 194px;
  --widget-layout-height: 351px;
}

html,
h1,
h2,
h3,
h4,
p,
span {
  line-height: 1;
}

body {
  background-color: #191919;
  color: white;
  font-family: "Montserrat Variable", sans-serif;
}

.icon-color {
  color: gray;
}

input[type="number"].show-spinner {
  color-scheme: dark;
}

input[type="number"].show-spinner::-webkit-inner-spin-button,
input[type="number"].show-spinner::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  opacity: 1;
  cursor: pointer;
}

button {
  cursor: pointer;
}

hr {
  margin-block: 0.3rem;
  color: gray;
}

.global-border {
  @apply p-2
    border
  border-gray-500/50
    rounded-lg;
}

/* Widget */

.widget-width {
  width: var(--widget-width);
  min-width: var(--widget-width);
}

.widget-body-height {
  height: var(--widget-layout-height);
  min-height: var(--widget-layout-height);
}

.widget-gradient {
  background-image: linear-gradient(
    to top,
    color-mix(in srgb, var(--widget-from) 100%, transparent) 10%,
    color-mix(in srgb, var(--widget-to) 100%, transparent) 100%
  );
}

.window-control {
  @apply grid
    place-items-center
    size-4
    rounded-full
    border
    border-gray-400
}

.clickable {
  @apply p-2
    border
    border-gray-700
    bg-gray-700
    rounded-full
    shadow-sm
    shadow-black/40
    cursor-pointer
    hover:bg-gray-600;
}

.clickable-label {
  @apply rounded!
}

.widget-picker {
  @apply rounded!
}

/* Scroll */
* {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}